body{
    background-color: aqua;
    color:blue ;
    margin: 0px;
    margin-bottom: 100px;
     
}

header{ 
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
    color: gold;
}
.capa{ 
    color:aqua;
    font: size 20px;
}

#heroi{
    display:flex;
    padding: left 200px;
}

.videos{
    display: flex;
    overflow:  auto;
    gap: 10px;
}
